@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Merriweather:wght@400;700;900&display=swap");

::selection {
  background-color: #011b40;
  color: #02a247;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #011b40;
}

p,
small {
  font-family: "Merriweather" !important;
}

.appBar {
  background-color: #fff;
}
